body{
    background-image: url("https://as2.ftcdn.net/v2/jpg/06/08/17/37/1000_F_608173700_V8nxjrFnuJXUzuVMAtVQ7XXhwejSxJdl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:red;
}